body {
    background-image: url('https://unsplash.com/photos/3Z70SDuYs5g/download?force=true&w=1920');
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#weather-result {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;
    margin-top: 10px;
}

.weather-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#forecast-container {
    background-color: aquamarine;
    display: row;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 20px;
    margin-top: 10px;
}

#forecast-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hidden {
    display: none;
}